@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; }

body {
  background: #1B1B1D; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px; }
  header .navbar {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .navbar .menu-links {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 30px; }
      header .navbar .menu-links .language-item a {
        display: flex;
        gap: 8px;
        align-items: center; }
      header .navbar .menu-links .language-item span {
        font-size: 1.3rem; }
      header .navbar .menu-links a {
        color: #fff;
        text-decoration: none;
        transition: .2s ease; }
        header .navbar .menu-links a:hover {
          color: #19a463; }
      header .navbar .menu-links .join-btn a {
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 8px 15px; }
        header .navbar .menu-links .join-btn a:hover {
          color: #fff;
          background: #19a463;
          border-color: transparent; }
